[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Executor/contracts/lib/forge-std"]
	path = Executor/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
