.mask {
	position: absolute;
	z-index: 1;

	backdrop-filter: blur(1px);

	--background-color: light-dark(
		var(--mantine-color-gray-1),
		var(--mantine-color-dark-8)
	);

	--size: 30px;

	background: linear-gradient(
		var(--degree),
		var(--background-color),
		transparent
	);

	-webkit-mask-image: linear-gradient(
		var(--degree),
		var(--background-color) 30%,
		transparent
	);
	mask-image: linear-gradient(
		var(--degree),
		var(--background-color) 30%,
		transparent
	);
}

.mask-l {
	composes: mask;
	--degree: 90deg;
	width: var(--size);
	top: 0;
	left: 0;
	bottom: 0;
}

.mask-r {
	composes: mask;
	--degree: -90deg;
	width: var(--size);
	top: 0;
	right: 0;
	bottom: 0;
}

.mask-t {
	composes: mask;
	--degree: 180deg;
	height: var(--size);
	top: 0;
	left: 0;
	right: 0;
}

.mask-b {
	composes: mask;
	--degree: 0deg;
	height: var(--size);
	bottom: 0;
	left: 0;
	right: 0;
}
