.resizer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 5px;
	transform: translateX(50%);
	cursor: col-resize;
	z-index: 10;
	transition: background-color 200ms ease-in-out;
	&:hover {
		background-color: light-dark(
			var(--mantine-color-gray-3),
			var(--mantine-color-gray-9)
		);
	}

	&[data-dragging="true"] {
		background-color: light-dark(
			var(--mantine-color-gray-3),
			var(--mantine-color-gray-9)
		);
	}
}
