iframe {
    border: none;
    width: 100%;
}

div.MuiBox-root > div.MuiBox-root > div.MuiStack-root.watermark {
    display: none;
}

div.MuiStack-root.message-content .markdown-body {
    overflow-wrap: break-word !important;
}

div.MuiBox-root div.MuiStack-root.watermark{
    display: none;
}
